{% extends "profesor/base.html" %}

{% block body %}
<h3 class="m-4 text-center">Todos los profesores</h3>

{% if profesor %}
<div class="row">
    {% for profesor in profesor %}
    <div class="col-md-4">
        <div class="card bg-light mb-4">
            <div class="card-body">
                <h5 class="card-title">{{ profesor.nombre }}</h5>
                <p class="card-text">Apellido: {{ profesor.apellido_pat }}</p>
                <p class="card-text">Email: {{ profesor.email }}</p>
                <!-- Botón para eliminar -->
                <a href="{% url 'delete' profesor.id %}" class="btn btn-danger"
                   onclick="return confirm('¿Seguro que quieres eliminar este profesor?');">
                   Eliminar
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<p class="text-center">No hay profesores disponibles.</p>
{% endif %}
{% endblock %}